a.categoryLink {
	color:white;
	font-size:22px;
	font-family: latoLight;
	background-color:#5CC1AB;
	border:1px solid white;
	opacity:0.7;
	padding:5px;
	padding-left:15px;
	padding-right: 15px;
	margin:5px;
}

a.categoryLink:hover{
	opacity:0.9;
}
.postBox{
	position:relative;
	color:black;
	width:105%;
	margin-left:-2.5%;
	padding:30px;
	padding-bottom:10px;
	margin-bottom:5px;
	background:rgba(235, 243, 238, 0.3);
	border:1px solid white;
	opacity:0.8;
}

.inPostBox {
	position:relative;
	color:black;
	width:105%;
	margin-left:-2.5%;
	padding:30px;
	padding-bottom:10px;
	margin-bottom:5px;
	background:rgba(235, 243, 238, 0.3);
	border:1px solid white;
	opacity:0.8;
}
.coloredLink{
    color: #199d7e;
}

.coloredLink:hover {
	color: #199d7e !important;
	opacity:1;
}
.coloredLink:visited {
	color: #199d7e !important;
}

.postBox:hover, .inPostBox:hover{
	opacity:1;
}

.postBox h1, h2, h3{
	margin-top:4px;
}

.postBox h3{
	font-family: latoRegular;
	margin-bottom:2px;
}

.postBox p {
	font-family: latoRegular;
}
.postBox hr {
	margin-top:6px; 
	margin-bottom:6px;
}
.inPostBox p {
	font-size:15px;
}

.pageNumber{
	position:relative;
	color:black;
	width:100%;
	padding:0px;
	background:rgba(235, 243, 238, 0.6);
	border:1px solid white;
	opacity:0.6;	
}
.pageNumber:hover{
	opacity:0.8;
}

.sidebar{
	padding-right: 0px
}

/* * 
  * * Blog Administration * * */
                           
.blogBar{
	padding-bottom:15px;
}
table.table{
	margin-bottom:0px;
	opacity:0.9;
	background-color: #f8f8f8;
	    border-color: #e7e7e7;
}

.editArea{
	min-height: 300px;
}
/**
  * 
 * Ace Solutions App v2.0 (http://acesolutions.co)
* 
**/

	/* **                *
	  ** Loading Fonts  *
     *                 *
    *				  ** */

	@font-face {
	    font-family: latoThin;
	    src: url(fonts/Lato-Hairline.ttf);
	}

	@font-face {
	    font-family: latoLight;
	    src: url(fonts/Lato-Light.ttf);
	}

	@font-face {
	    font-family: latoRegular;
	    src: url(fonts/Lato-Regular.ttf);
	}

	@font-face { 
	    font-family: latoBlack;
	    src: url(fonts/Lato-Black.ttf);
	}

	/**
	 * End Fonts */

	/* Link Styles */

	a {
		color:black;
		font-family: 'LatoRegular';
		cursor:pointer;
	}


	a:hover {
		color:#199d7e !important;
		text-decoration: none;
	}

	a:visited {
		color:white;
		text-decoration: none;
	}


	a.darkLink {
		color:#333;
		font-family: 'LatoRegular';
		cursor:pointer;
	}
	a.darkLink:hover {
		color:black !important;
		text-decoration: none;
	}
    a.projectLink{
        opacity:0.7;
        float:right; 
        color:white;
    }
    
    a.projectLink:hover{
        opacity:0.9;
    }
	.button {
		font-family: 'LatoLight';
		color:white;
		opacity:0.85;
		background-color:#16a085;
	}

	.button:hover {
		opacity: 1;
		color:white !important;
		background-color:#34495e;
	}

	/* -- End link styles -- */

 	/* Defaults */
 	.spacer{margin-top:20px;}

	textarea.form-control {
		height:150px;
	}

	.form-control {
		font-size:16px;
	}

	html, body {
	    height: 100% !important;
		position:relative;
	    padding: 0;
	    width: 100%;
	    display: table;
	    font-weight: 100;
	    font-family: 'LatoRegular';
        background: url(img/background.jpg) center center no-repeat fixed;
        background-size: 100%;
	}

	/* *
	  * * * Header Styles * * * *
	   						   */
	header {
		position:absolute;
		top:1px;
		width:100%;
		padding-bottom:0px;
		background-color: #34495e;
		opacity:0.75;
		border-bottom:3px solid #199d7e;

		/*
	    background: rgb(87, 153, 125); /* Fall-back for browsers that don't
	                                    support rgba 
	    background: rgba(87, 153, 125, .6);		
	    */
	}

	header:hover{
		opacity:0.8;
		padding-top:7px;
		box-shadow: 1px 1px 0px gray;
	}

	.mainHeader{
		position:relative;
		max-width:1100px;
		margin:0 auto;
		margin-bottom:7px;
		margin-top: 3px;
	}

	/* *
	  * * * Navigation Styles * * * *
	   						       */	
	nav {
		padding-top:25px;
		font-size:16px;
		text-align:right;
		color:#199d7e;
	} 

	.menuLogo{
		float:left;
		margin-top:-22px;
		height:65px;
		width: auto;
		opacity:.95;
	}

	.menuLogo:hover{
		opacity:1;
	}

	nav a{
		color:white !important;
		text-decoration: none;
		font-family: "latoLight";
		padding-left:15px;
		padding-right:15px;
		text-shadow: 0.2px 0.2px #FFFFFF;
	}

	nav a:hover{
		color:#199d7e !important;
	}

	nav p.slogan {
		color: white/*#199d7e*/;
		float:left;
		font-family: "latoThin";
		font-size:18px;
		padding-top:2px;
	}

	/* *
	  * * * * *   End   * * * * * 
	   		                   * */	


/* Hover effect box style */ 

/* Boxes */

    #boxes{
    width:100%;
    position:relative;
    }

    .box{
        position: relative; 
        min-height: 260px;
        float: left; 
        margin-bottom: 5px;
        width: 100%;
        border:1px solid white;
        /*box-shadow: 0px 0px 4px white;*/
    }
    
        /* OVERLAY */
        .overlay{
            display:block;
            position:absolute;
            z-index:20;
            background: rgba(255, 255, 255, 1);
            overflow:hidden;
            transition: all 0.5s;
        }
            a.close-overlay {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 100;
              width: 25px;
              height: 25px;
              font-size: 20px;
              color: #1e3c64;
              text-align: center;
              background-color: white;
              cursor: pointer;
            }
            a.close-overlay.hidden {
              display: none;
            }

            a.expand {
                font-family: "Raleway-Light"; 
                font-size:14px;
                padding:0px 10px 0px 10px;
                text-decoration:none;
                display: block;
                position: relative;
                z-index: 100;
                text-align: center;
                color: #fff;
            }
            
            a.expand:hover{ color:#199d7e;}
        /* END OVERLAY */
    
        /* Slide in effect */
        #boxes .overlay{
            bottom:0;
            left:0;
            right:0;
            width:100%;
            height:0%;
        }
        #boxes .overlay p{
            color:#1e3c64;
            position:relative;
        }

        #boxes .overlay .inBoxParagraph{
            margin-top:70px;    
        }

        .box p{
            position:absolute;
            top:50%;
            cursor:pointer;
            font-family: "Raleway-Light";  
            color:white;
            margin-top:-30px;
            font-size:18px;
            padding: 10px 0px 10px 0px;
            width:100%;
            text-align:center;
        }

        #boxes .overlay .inBoxParagraph p{
            font-size:16px;    
            font-family: "Raleway-Regular";
        }

        .picture-box{
            overflow: hidden;
            border-bottom:3px solid #199d7e;
        }

        #boxes .overlay a.expand {
          left: 0;
          right: 0;
          top: 5%;
          margin: 0 auto;
        }
        #boxes .box.hover .overlay {
          height: 100%;  
        }

        #boxes .picture-box.hover .overlay {
          height: 40%;  
          background:rgba(255, 255, 255, 0.8);
        }

        #boxes .picture-box h4{
            width:100%;
            font-family: "Raleway-Regular";
            text-align:center;
            font-size:16px;
        }
        /* End slide in effect */

            
/* End Boxes */

/* End hover box style */


	/* *
	  * * * Content Styles * * * *
	   						    */
	
	.container {
	    text-align: center;
	    margin:0 auto;
	    margin-top:100px;
	    max-width:1100px;
	    margin-bottom:80px;
	    padding:0px;
	}

	.dark-section {
		padding-top:60px;
		color:white;
	    margin:0 auto;
		display:block;
		width:100%;
		height: 100%;
		background-color: rgba(17, 30, 55, 0.6);
	}
	
	.insideContainer {
	    margin:0 auto;
	    max-width:1100px;		
	}


	p.description{
		font-family: latoLight;
	    font-size: 18px;
	    margin-bottom:10px;
	}

	.content{
		margin-top:20px;
		display:block;
		width:100%;
	}

	#backUp{
		display: none;
		cursor: pointer;
		opacity: 0.8;
		width:45px; 
		height:auto; 
		position:fixed;
		z-index: 1000;
		right:20px;
		bottom:20px;
	}

	#backUp:hover{ opacity:.95; }

	.introImg{
		width:100%;
		margin-top:-10px;
	}

	.title {
		margin-left:0px;
		position:relative;
		font-family: LatoLight;
	    font-size: 70px;
	}

	/* *
	  * End * *
	   		 */	


	/* *
	  * * * Auth Styles * * * *
	   						 */
	
	.loginPannel{
		margin-top:150px;
		margin-bottom:100px;
	}

	.registerPanel{
		margin-top:100px;
		margin-bottom:50px;		
	}

	.panel-default{
		background-color: rgba(48,167,137,0.8);
	}

	.panel-default .panel-heading{
		font-family:latoRegular;
		font-size:20px;
		color:black;
	}

	.loginPannel .panel-body{
		padding-top:40px;
		padding-left:15%;
		padding-right:15%;
	}

	.formError{
		width:110%;
		margin-left:-5%;
		opacity:0.8;
	}
	
	.authBtn{
		width:120px;
		opacity:0.9;
	}
	.authBtn:hover{
		opacity:1;
	}

	/* *
	  * End * *
	   		 */	


	/* *
	  * * * Border Style * * *
	   				       */
	
	.borderTop {
		border-top:1px solid gray; 
	}

	.borderBottom {
		border-bottom:1px solid gray; 
	}

	/* *
	  * End * *
	   		 */


	/* *
	  * * * Dashboard Styles * * * *
	   						      * */

	.dashTitle {
		position:relative;
		font-family: latoThin;
	    font-size: 100px; 
	}
	
	.editServiceForm, .addServiceForm {
		margin-top:20px;
		text-align:center;
	}	

	.editServiceTitle {
		height:40px;
		background-color: #668DC3;
	}

	.editServiceForm .form-control, .addServiceForm .form-control {
		width:78%;
		margin:0 auto;
		border-radius: 0;
	}

	.icon-drop-zone {
		width:125px;
		margin:0 auto;
		padding-top:20px;
		height:105px;
		color:black;
		opacity:0.5;
	}
	
	.iconBox canvas {
		background-color: transparent;
		box-shadow: none;
		border:none;
	}

	.serviceBtn {
		padding:10px;
		opacity:0.5;
		background-color: #2559A0;		
	}

	.serviceBtn:hover{
		cursor:pointer;
		opacity:0.9;
	}

	.serviceBtn span.glyphicon {
		color:white;
		font-size:16px;
		background-color: transparent;
	}	

	.editServiceBtn {
		position:absolute;
		top:0;
		right:0;
	}

	.closeEditService {
		position:absolute;
		top:0;
		right:0;

	}

	.deleteServiceBtn {
		position:absolute;
		top:0;
		left:0;
	}
	
	.saveServiceBtn {
		width:100%;
		position:absolute;
		bottom:0;
		left:0px;
		font-size:20px;
	}
	/* *
	  * End * *
	   		 */	


	/* *
	  * * * Services Style * * *
	   						  */

    .serviceBox{
    	position:relative;
    	color:white;
    	background-color:#5CC1AB;
    	width:104%;
    	margin-bottom:5px;
    	opacity:0.8;
    }

    h4.serviceTitle {
    	padding-top:30px;
    	padding-bottom:25px;
    }
    h4.serviceTitle .glyphicon{
    	font-size:13px;
    }

    .serviceBox:hover{
    	opacity:1;
    }
    .serviceBox a {
    	opacity:.7;
    	color:white;
    }
    .serviceBox:hover a h4 {
    	opacity:1;
    	color:white;
    	text-decoration: underline;
    }    
    .serviceIcon{
    	height:150px;
    }

	/* *
	  * End * *
	   		 */
 

	/* *
	  * * * Projects Style * * *
	   						  */

    .projectBox {
    	border-radius:5px;
    	overflow: hidden;
    	position:relative;
    	color:black;
    	width:100%;
    	margin-bottom:15px;
    	background:rgba(235, 243, 238, 0.6);
    	border:1px solid white;
    	opacity:0.8;
    }
        /* * *
            * * * Flipping project boxes * * *
                                            * * */
        .card-container {
          height: 340px;
          perspective: 1000;
          -webkit-perspective: 1000;
          position: relative;
          width: 340px;
          margin-bottom:40px;
        }

        .card {
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out;
          width: 100%;
        }
        .card:hover {
          transform: rotateY(180deg);
        }
        .card .side {
          backface-visibility: hidden;
          height: 100%;
          position: absolute;
          overflow: hidden;
          width: 100%;
        }
        .card .back {
          transform: rotateY(180deg);
          background: rgba(36, 162, 132, 0.6);
        }
        .card .back img{
          opacity:0.2;
        }	

	.projectListBox {
    	position:relative;
    	color:white;
    	height:500px;
    	margin:0 auto;
    	margin-bottom:50px;
    	/*background:rgba(36, 162, 132, 0.2);*/
    }


	.card h3, .card p {
		font-family: latoLight;
		margin:0 auto;
		position:absolute;
		z-index:1000;
		width:100%;
		padding:5%;
		background:rgba(36, 162, 132, 0.9);
    	/*background:rgba(17, 30, 55, 0.8);*/
	}

	.card h3 {
		overflow:hidden;
		top:0;
	}
	.card p {
		overflow:hidden;
		font-size:14px;
		bottom:0;

	}
	.card img {

		width:100%; 
		z-index:10;
		top:0; 
		left:0;		
	}

    .projectBox:hover{
    	opacity:1;
    }

    .projectBox h3, .projectBox p {
    	text-align:left;
    	padding-left:30px;
    	padding-right:30px;

    }
    .projectBox h3 {
		padding-top: 20px;
    }
	.projectBox p {
    	padding-bottom: 20px;
	}

	.extra-options {
    	width:92%;
    	margin:0 auto;
    	text-align: left;
    	margin-bottom:20px;
    	margin-top:20px;
	}

    a.extra-option-link{
    	font-family: latoLight;
    	border-radius: 4px;
    	margin-left:10px;
    	margin-right:10px;
    	margin-top:20px;
    	padding:7px;
    	padding-right:15px;
    	padding-left:15px;
    	color:white;
    	font-size:16px;
    	opacity: 0.8;
    	background-color: #668DC3;
    }
    a.extra-option-link .glyphicon{
    	font-size:10px;
    	margin-top:-10px;
    }
    a.extra-option-link:hover{
    	opacity:1;
    }

    .addImageBox {
    	width:93%;
    	margin:0 auto;
    }

    .image-drop-zone {
    	color: gray;
    	width:96%;
    	padding-top:32px;
    	margin:0 auto;
    	height:90px;
    	border: solid 3px lightgray !important;
    }
    .image-drop-zone i{
    	padding-top:40px;
    }
    .addNewProject {
    	cursor:pointer;
    	opacity:0.8;
    }

    .addNewProject:hover {
    	color:#199d7e;
    }
    .addProjectForm, .editProjectForm{
    	padding-top:30px;
    }
    .addProjectForm h4{
    	text-align:left;
    	padding-left:50px;
    }

    .addProjectForm .form-control, .editProjectForm .form-control{
		width:87%;
		margin:0 auto;
    }

    .datePickers{
    	width:85%;
    	margin:0 auto;
    }
    .addServiceForm h4{
    	text-align:left;
    	margin-left:33px;
    }
    .addProjectForm .well{
    	padding:10px;
    }
	/* *
	  * End * *
	   		 */



	/* *
	  * * * Blog Styles * * *
	   					   * */
	.editor {
		width:80%;
	}

	/* *
	  * End * *
	   		 */



	/* *
	  * * * Form Style * * *
	   					  * */

	.form-label {
		float:left;
		margin-left:8.4%;
		font-size:17px;
		font-weight: 500;
	}

	.formTitle {
		height:40px;
		background-color: #668DC3;
		position:aboslute;
		top:0; right:0;
		width:100%;	
	}

	.formTitle h4 {
		font-size:22px;
		padding-top:8px;
		padding-left:4%;
		margin-top:0px;
		float:left;
		color:white;
	}
	
	/* *
	  * End * *
	   		 */


	/* *
	  * * * Contact Styles * * *
	   						  */
	
	.contactForm {
		max-width:750px;
		margin:0 auto;
	}
	.contactForm .title {
		padding-top:70px;
	}

	.contactForm .description {
		padding-bottom:50px;
	}

	/* *
	  * End * *
	   		 */

	/* *
	  * * * Second Menu * * *
	   					   */
	.secondMenu{
		margin-top:15px;
		position:relative;
		width:100%;
		margin:0 auto;
	}

	a.services-btn{
		font-family:latoLight;
		font-size:20px;
		position:absolute;
		bottom:63px;
		right:20px;
	}

	a.projects-btn{
		font-family:latoLight;
		font-size:20px;
		position:absolute;
		bottom:70px;
		left:20px;
	}


	.secondMenuLogo {
		margin-top:15px;
		width:100%;
	}

	/* *
	  * End * *
	   		 */
	/* *
	  * * * Footer Styles * * *
	   					     */
	footer{
		width:100%;
		height:150px;
		border-top:1px solid #93CCBA;
		background-color:#199d7e;	
		opacity:0.8;
		position:absolute;
		bottom:0;
	}

	footer:hover{
		opacity:0.95;
	}

	.homeFooter{
		position:relative;
		max-width:1100px;
		margin:0 auto;
	}
	.homeFooter nav{
		text-align:right;
		padding-top:25px;
	}
	.homeFooter nav a {
		color:#93CCBA !important;
	}
	.homeFooter nav a:hover{
		color:white !important;
	}
	.footerMenuLogo{
		position:absolute;
		left:0;
		top:12px;
		height:50px;
		opacity:0.8;
	}
	.footerMenuLogo:hover{
		opacity:1;
	}

	/* *
	  * End * *
	   		 */

	/* * * * * * * * * *  
	    *   The End   *
	   * * * * * * * * * */
html, body.missio {
    height:100%;
} 

body.missio {
	background-image: url('missio/inspiration-wallpaper.jpg');
	background-position: center center;
	background-size:100%;
}

body.missio header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.75;
    border-bottom: 1px solid #008CBA;
}

body.missio header .container {
	margin-top:10px;
	margin-bottom:0px;
}

button.saveDreamBtn{
	color:white; background-color:#008CBA; 
	width:40%; margin-left:30%; margin-right:30%;
	border: 1px solid #CCC;
    border-radius: 4px;
    font-size:16px;
    padding:7px;
}

button.saveDreamBtn:hover{
	background-color:#008CBA; 
	opacity:1;
}

body.missio footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.75;
    border-top: 1px solid #008CBA;

}

img.topLogo {
	opacity:0.8;
	height:45px;
	margin-top: 5px; 
	float:left;
	width:auto;
}

img.topHeart {
	height:45px; 
	margin-top: 5px; 
	margin-right:7px;
	float:left;
	width:auto;
}

img.topSlogan {
	height:80px; 
	margin-top: -30px;
	margin-right: -10px;
	float:right;
	width:auto;
}

.dream-box {
	float:left;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	margin-top:20px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom:1px solid #008CBA;
	border-radius: 8px;
	background: rgba(255,255,255,0.4);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dreams-bottom {
	width:98%;
	color:black;
	margin-left:1%;
	margin-right:1%;
	padding:10px;
	margin-top:20px;
	border-bottom:1px solid #008CBA;
	border-radius: 8px;
	background: rgba(255,255,255,0.5);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dreams-bottom a {
	color:black;
	padding-left:10px;
	padding-right:10px;
}

.dream-box hr {
	border-top:1px solid #008CBA; 
	margin-top:8px; 
	margin-bottom:8px;
}

.dream-dream {
	font-size:18px;
	min-height: 90px;
  	line-height: 90px;
}

.dream-dream span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;   
}

@media only screen and (max-width: 540px) {
	
	body.missio {
		background-position: top center;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}

	img.topLogo {
		max-width:70%;
	}
	
	.dream-box {
		width:92%;
		margin-left:4%;
		margin-right:4%;
	}
}
/*# sourceMappingURL=main.css.map */
