a.categoryLink {
	color:white;
	font-size:22px;
	font-family: latoLight;
	background-color:#5CC1AB;
	border:1px solid white;
	opacity:0.7;
	padding:5px;
	padding-left:15px;
	padding-right: 15px;
	margin:5px;
}

a.categoryLink:hover{
	opacity:0.9;
}
.postBox{
	position:relative;
	color:black;
	width:105%;
	margin-left:-2.5%;
	padding:30px;
	padding-bottom:10px;
	margin-bottom:5px;
	background:rgba(235, 243, 238, 0.3);
	border:1px solid white;
	opacity:0.8;
}

.inPostBox {
	position:relative;
	color:black;
	width:105%;
	margin-left:-2.5%;
	padding:30px;
	padding-bottom:10px;
	margin-bottom:5px;
	background:rgba(235, 243, 238, 0.3);
	border:1px solid white;
	opacity:0.8;
}
.coloredLink{
    color: #199d7e;
}

.coloredLink:hover {
	color: #199d7e !important;
	opacity:1;
}
.coloredLink:visited {
	color: #199d7e !important;
}

.postBox:hover, .inPostBox:hover{
	opacity:1;
}

.postBox h1, h2, h3{
	margin-top:4px;
}

.postBox h3{
	font-family: latoRegular;
	margin-bottom:2px;
}

.postBox p {
	font-family: latoRegular;
}
.postBox hr {
	margin-top:6px; 
	margin-bottom:6px;
}
.inPostBox p {
	font-size:15px;
}

.pageNumber{
	position:relative;
	color:black;
	width:100%;
	padding:0px;
	background:rgba(235, 243, 238, 0.6);
	border:1px solid white;
	opacity:0.6;	
}
.pageNumber:hover{
	opacity:0.8;
}

.sidebar{
	padding-right: 0px
}

/* * 
  * * Blog Administration * * */
                           
.blogBar{
	padding-bottom:15px;
}
table.table{
	margin-bottom:0px;
	opacity:0.9;
	background-color: #f8f8f8;
	    border-color: #e7e7e7;
}

.editArea{
	min-height: 300px;
}