html, body.missio {
    height:100%;
} 

body.missio {
	background-image: url('missio/inspiration-wallpaper.jpg');
	background-position: center center;
	background-size:100%;
}

body.missio header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.75;
    border-bottom: 1px solid #008CBA;
}

body.missio header .container {
	margin-top:10px;
	margin-bottom:0px;
}

button.saveDreamBtn{
	color:white; background-color:#008CBA; 
	width:40%; margin-left:30%; margin-right:30%;
	border: 1px solid #CCC;
    border-radius: 4px;
    font-size:16px;
    padding:7px;
}

button.saveDreamBtn:hover{
	background-color:#008CBA; 
	opacity:1;
}

body.missio footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.75;
    border-top: 1px solid #008CBA;

}

img.topLogo {
	opacity:0.8;
	height:45px;
	margin-top: 5px; 
	float:left;
	width:auto;
}

img.topHeart {
	height:45px; 
	margin-top: 5px; 
	margin-right:7px;
	float:left;
	width:auto;
}

img.topSlogan {
	height:80px; 
	margin-top: -30px;
	margin-right: -10px;
	float:right;
	width:auto;
}

.dream-box {
	float:left;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	margin-top:20px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom:1px solid #008CBA;
	border-radius: 8px;
	background: rgba(255,255,255,0.4);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dreams-bottom {
	width:98%;
	color:black;
	margin-left:1%;
	margin-right:1%;
	padding:10px;
	margin-top:20px;
	border-bottom:1px solid #008CBA;
	border-radius: 8px;
	background: rgba(255,255,255,0.5);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dreams-bottom a {
	color:black;
	padding-left:10px;
	padding-right:10px;
}

.dream-box hr {
	border-top:1px solid #008CBA; 
	margin-top:8px; 
	margin-bottom:8px;
}

.dream-dream {
	font-size:18px;
	min-height: 90px;
  	line-height: 90px;
}

.dream-dream span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;   
}

@media only screen and (max-width: 540px) {
	
	body.missio {
		background-position: top center;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}

	img.topLogo {
		max-width:70%;
	}
	
	.dream-box {
		width:92%;
		margin-left:4%;
		margin-right:4%;
	}
}